<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>My Simple Todo</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row" ng-controller="TodoController as vm">
        <div class="text-center" style="margin-top: 50px;">
            <h2>{{vm.title}}</h2>
        </div>
        <div class="col-md-4 col-md-offset-4" style="margin-top: 50px;">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="todo title" ng-model="vm.todo.title">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="vm.addTodo()">Add</button>
                    </span>
                </div>
            </form>

            <ul class="list-group" style="margin-top: 50px;">
                <li class="list-group-item" ng-repeat="todo in vm.todos">{{todo.title}}</li>
            </ul>
        </div>
    </div>


    <script src="lib/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/todo.controller.js"></script>
    <script src="app/todo.service.js"></script>
</body>
</html>